name: CI

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install ckb-debugger
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: ckb-debugger

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: true

      - name: Install
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
